In [26]:
import numpy as np
from sklearn.cluster import MeanShift, KMeans
from sklearn import preprocessing, cross_validation
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
df = pd.read_excel('titanic.xls')
#for referencing the non-numerical part
original_df = pd.DataFrame.copy(df)
df.drop(['body','name'], 1, inplace=True)
df.fillna(0,inplace=True)

In [28]:
def handle_non_numerical_data(df):#Mapping for non-numeric data
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

In [29]:
#handling out the non-numeric part
df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'], 1, inplace=True)
print(df.head())

   pclass  survived  sex      age  sibsp  parch      fare  cabin  embarked  \
0       1         1    1  29.0000      0      0  211.3375    175         3
1       1         1    0   0.9167      1      2  151.5500    143         3
2       1         0    1   2.0000      1      2  151.5500    143         3
3       1         0    0  30.0000      1      2  151.5500    143         3
4       1         0    1  25.0000      1      2  151.5500    143         3

   boat
0     1
1    19
2     0
3     0
4     0

In [30]:
#classification Time!!
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = MeanShift()
clf.fit(X)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [31]:
labels = clf.labels_
cluster_centers = clf.cluster_centers_
original_df['cluster_group']=np.nan
for i in range(len(X)):
    original_df['cluster_group'].iloc[i] = labels[i]

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [32]:
#check the survival rates for each of the groups we happen to find
n_clusters_ = len(np.unique(labels))
survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ]
    #print(temp_df.head())

    survival_cluster = temp_df[  (temp_df['survived'] == 1) ]

    survival_rate = len(survival_cluster) / len(temp_df)
    #print(i,survival_rate)
    survival_rates[i] = survival_rate
    
print(survival_rates)

{0: 0.3700404858299595, 1: 0.6415094339622641, 2: 1.0, 3: 0.1, 4: 1.0, 5: 0.5714285714285714}

In [33]:
#dive deeper
print(original_df[ (original_df['cluster_group']==1) ])

      pclass  survived                                               name  \
0          1         1                      Allen, Miss. Elisabeth Walton
1          1         1                     Allison, Master. Hudson Trevor
2          1         0                       Allison, Miss. Helen Loraine
3          1         0               Allison, Mr. Hudson Joshua Creighton
4          1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
10         1         0                             Astor, Col. John Jacob
11         1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
16         1         0                           Baxter, Mr. Quigg Edmond
17         1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
23         1         1                              Bidois, Miss. Rosalie
24         1         1                                  Bird, Miss. Ellen
28         1         1                             Bissette, Miss. Amelia
32         1         1                            Bonnell, Miss. Caroline
35         1         1                           Bowen, Miss. Grace Scott
55         1         1                          Carter, Miss. Lucile Polk
57         1         1          Carter, Mrs. William Ernest (Lucile Polk)
66         1         1                        Chaudanson, Miss. Victorine
95         1         1              Dodge, Mrs. Washington (Ruth Vidaver)
97         1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
103        1         1                      Endres, Miss. Caroline Louise
106        1         0                                 Farthing, Mr. John
111        1         1                     Fortune, Miss. Alice Elizabeth
112        1         1                         Fortune, Miss. Ethel Flora
113        1         1                         Fortune, Miss. Mabel Helen
114        1         0                     Fortune, Mr. Charles Alexander
119        1         1                      Frauenthal, Dr. Henry William
121        1         1  Frauenthal, Mrs. Henry William (Clara Heinshei...
129        1         1                               Geiger, Miss. Amalie
180        1         1                             Kreuchen, Miss. Emilie
193        1         1                  Madill, Miss. Georgette Alexandra
213        1         1                            Newell, Miss. Madeleine
214        1         1                             Newell, Miss. Marjorie
238        1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
249        1         1                        Ryerson, Master. John Borie
250        1         1                         Ryerson, Miss. Emily Borie
251        1         1              Ryerson, Miss. Susan Parker "Suzette"
285        1         0                                 Straus, Mr. Isidor
286        1         0             Straus, Mrs. Isidor (Rosalie Ida Blun)
291        1         1             Taussig, Mrs. Emil (Tillie Mandelbaum)
308        1         1              White, Mrs. John Stuart (Ella Holmes)
309        1         1                           Wick, Miss. Mary Natalie
311        1         1         Wick, Mrs. George Dennick (Mary Hitchcock)
312        1         0                         Widener, Mr. George Dunton
314        1         1       Widener, Mrs. George Dunton (Eleanor Elkins)
1170       3         0                         Sage, Master. Thomas Henry
1171       3         0                        Sage, Master. William Henry
1172       3         0                                    Sage, Miss. Ada
1173       3         0                       Sage, Miss. Constance Gladys
1174       3         0                  Sage, Miss. Dorothy Edith "Dolly"
1175       3         0                            Sage, Miss. Stella Anna
1176       3         0                           Sage, Mr. Douglas Bullen
1177       3         0                                Sage, Mr. Frederick
1178       3         0                           Sage, Mr. George John Jr

         sex      age  sibsp  parch    ticket      fare            cabin  \
0     female  29.0000      0      0     24160  211.3375               B5
1       male   0.9167      1      2    113781  151.5500          C22 C26
2     female   2.0000      1      2    113781  151.5500          C22 C26
3       male  30.0000      1      2    113781  151.5500          C22 C26
4     female  25.0000      1      2    113781  151.5500          C22 C26
10      male  47.0000      1      0  PC 17757  227.5250          C62 C64
11    female  18.0000      1      0  PC 17757  227.5250          C62 C64
16      male  24.0000      0      1  PC 17558  247.5208          B58 B60
17    female  50.0000      0      1  PC 17558  247.5208          B58 B60
23    female  42.0000      0      0  PC 17757  227.5250              NaN
24    female  29.0000      0      0  PC 17483  221.7792              C97
28    female  35.0000      0      0  PC 17760  135.6333              C99
32    female  30.0000      0      0     36928  164.8667               C7
35    female  45.0000      0      0  PC 17608  262.3750              NaN
55    female  14.0000      1      2    113760  120.0000          B96 B98
57    female  36.0000      1      2    113760  120.0000          B96 B98
66    female  36.0000      0      0  PC 17608  262.3750              B61
95    female  54.0000      1      1     33638   81.8583              A34
97    female  27.0000      1      1  PC 17558  247.5208          B58 B60
103   female  38.0000      0      0  PC 17757  227.5250              C45
106     male      NaN      0      0  PC 17483  221.7792              C95
111   female  24.0000      3      2     19950  263.0000      C23 C25 C27
112   female  28.0000      3      2     19950  263.0000      C23 C25 C27
113   female  23.0000      3      2     19950  263.0000      C23 C25 C27
114     male  19.0000      3      2     19950  263.0000      C23 C25 C27
119     male  50.0000      2      0  PC 17611  133.6500              NaN
121   female      NaN      1      0  PC 17611  133.6500              NaN
129   female  35.0000      0      0    113503  211.5000             C130
180   female  39.0000      0      0     24160  211.3375              NaN
193   female  15.0000      0      1     24160  211.3375               B5
213   female  31.0000      1      0     35273  113.2750              D36
214   female  23.0000      1      0     35273  113.2750              D36
238   female  43.0000      0      1     24160  211.3375               B3
249     male  13.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
250   female  18.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
251   female  21.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
285     male  67.0000      1      0  PC 17483  221.7792          C55 C57
286   female  63.0000      1      0  PC 17483  221.7792          C55 C57
291   female  39.0000      1      1    110413   79.6500              E67
308   female  55.0000      0      0  PC 17760  135.6333              C32
309   female  31.0000      0      2     36928  164.8667               C7
311   female  45.0000      1      1     36928  164.8667              NaN
312     male  50.0000      1      1    113503  211.5000              C80
314   female  50.0000      1      1    113503  211.5000              C80
1170    male      NaN      8      2  CA. 2343   69.5500              NaN
1171    male  14.5000      8      2  CA. 2343   69.5500              NaN
1172  female      NaN      8      2  CA. 2343   69.5500              NaN
1173  female      NaN      8      2  CA. 2343   69.5500              NaN
1174  female      NaN      8      2  CA. 2343   69.5500              NaN
1175  female      NaN      8      2  CA. 2343   69.5500              NaN
1176    male      NaN      8      2  CA. 2343   69.5500              NaN
1177    male      NaN      8      2  CA. 2343   69.5500              NaN
1178    male      NaN      8      2  CA. 2343   69.5500              NaN

     embarked boat   body                           home.dest  cluster_group
0           S    2    NaN                        St Louis, MO            1.0
1           S   11    NaN     Montreal, PQ / Chesterville, ON            1.0
2           S  NaN    NaN     Montreal, PQ / Chesterville, ON            1.0
3           S  NaN  135.0     Montreal, PQ / Chesterville, ON            1.0
4           S  NaN    NaN     Montreal, PQ / Chesterville, ON            1.0
10          C  NaN  124.0                        New York, NY            1.0
11          C    4    NaN                        New York, NY            1.0
16          C  NaN    NaN                        Montreal, PQ            1.0
17          C    6    NaN                        Montreal, PQ            1.0
23          C    4    NaN                                 NaN            1.0
24          S    8    NaN                                 NaN            1.0
28          S    8    NaN                                 NaN            1.0
32          S    8    NaN                      Youngstown, OH            1.0
35          C    4    NaN                     Cooperstown, NY            1.0
55          S    4    NaN                       Bryn Mawr, PA            1.0
57          S    4    NaN                       Bryn Mawr, PA            1.0
66          C    4    NaN                                 NaN            1.0
95          S    5    NaN                   San Francisco, CA            1.0
97          C    6    NaN                        Montreal, PQ            1.0
103         C    4    NaN                        New York, NY            1.0
106         S  NaN    NaN                                 NaN            1.0
111         S   10    NaN                        Winnipeg, MB            1.0
112         S   10    NaN                        Winnipeg, MB            1.0
113         S   10    NaN                        Winnipeg, MB            1.0
114         S  NaN    NaN                        Winnipeg, MB            1.0
119         S    5    NaN                        New York, NY            1.0
121         S    5    NaN                        New York, NY            1.0
129         C    4    NaN                                 NaN            1.0
180         S    2    NaN                                 NaN            1.0
193         S    2    NaN                        St Louis, MO            1.0
213         C    6    NaN                       Lexington, MA            1.0
214         C    6    NaN                       Lexington, MA            1.0
238         S    2    NaN                        St Louis, MO            1.0
249         C    4    NaN     Haverford, PA / Cooperstown, NY            1.0
250         C    4    NaN     Haverford, PA / Cooperstown, NY            1.0
251         C    4    NaN     Haverford, PA / Cooperstown, NY            1.0
285         S  NaN   96.0                        New York, NY            1.0
286         S  NaN    NaN                        New York, NY            1.0
291         S    8    NaN                        New York, NY            1.0
308         C    8    NaN  New York, NY / Briarcliff Manor NY            1.0
309         S    8    NaN                      Youngstown, OH            1.0
311         S    8    NaN                      Youngstown, OH            1.0
312         C  NaN    NaN                     Elkins Park, PA            1.0
314         C    4    NaN                     Elkins Park, PA            1.0
1170        S  NaN    NaN                                 NaN            1.0
1171        S  NaN   67.0                                 NaN            1.0
1172        S  NaN    NaN                                 NaN            1.0
1173        S  NaN    NaN                                 NaN            1.0
1174        S  NaN    NaN                                 NaN            1.0
1175        S  NaN    NaN                                 NaN            1.0
1176        S  NaN    NaN                                 NaN            1.0
1177        S  NaN    NaN                                 NaN            1.0
1178        S  NaN    NaN                                 NaN            1.0

In [34]:
#check for group zero
print(original_df[ (original_df['cluster_group']==0) ].describe())

            pclass     survived         age        sibsp        parch  \
count  1235.000000  1235.000000  984.000000  1235.000000  1235.000000
mean      2.341700     0.370040   29.453506     0.429150     0.297166
std       0.812086     0.483011   14.258923     0.834114     0.647862
min       1.000000     0.000000    0.166700     0.000000     0.000000
25%       2.000000     0.000000   21.000000     0.000000     0.000000
50%       3.000000     0.000000   28.000000     0.000000     0.000000
75%       3.000000     1.000000   38.000000     1.000000     0.000000
max       3.000000     1.000000   80.000000     5.000000     4.000000

              fare        body  cluster_group
count  1234.000000  115.000000         1235.0
mean     24.552984  161.452174            0.0
std      27.131538   98.333504            0.0
min       0.000000    1.000000            0.0
25%       7.895800   71.000000            0.0
50%      13.000000  165.000000            0.0
75%      27.720800  257.000000            0.0
max     227.525000  328.000000            0.0

In [36]:
#check for group one
print(original_df[ (original_df['cluster_group']==1) ].describe())

          pclass   survived        age     sibsp      parch        fare  \
count  53.000000  53.000000  43.000000  53.00000  53.000000   53.000000
mean    1.339623   0.641509  32.753877   2.09434   1.056604  175.035457
std     0.758120   0.484146  15.177508   2.82342   0.907556   69.963427
min     1.000000   0.000000   0.916700   0.00000   0.000000   69.550000
25%     1.000000   0.000000  23.000000   0.00000   0.000000  120.000000
50%     1.000000   1.000000  31.000000   1.00000   1.000000  211.337500
75%     1.000000   1.000000  44.000000   2.00000   2.000000  227.525000
max     3.000000   1.000000  67.000000   8.00000   2.000000  263.000000

             body  cluster_group
count    4.000000           53.0
mean   105.500000            1.0
std     30.468563            0.0
min     67.000000            1.0
25%     88.750000            1.0
50%    110.000000            1.0
75%    126.750000            1.0
max    135.000000            1.0